<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<table id="friends" class="table">
  <thead>
    <tr class="table-dark">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <%= render friend %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>
